<nav id="sidebar">
  <ul class="list-unstyled components">

    <p>Dashboard</p>

    <li>
      <a href="#">
        <div class="sidebar-link-main">
          <i class="fas fa-home"></i>
          <span class="sidebar-item-label">Home</span>
        </div>
      </a>
    </li>

    <li class="active">
      <a href="{% url 'mobility:vehicle_management' %}">

        <div class="sidebar-link-main">
          <i class="fas fa-car"></i>
          <span class="sidebar-item-label">Mobility</span>
        </div>

        <span class="sidebar-badge">
          {{ total_vehicles|default:"0" }}
        </span>

      </a>
    </li>

    <li>
      <a href="#">
        <div class="sidebar-link-main">
          <i class="fas fa-crosshairs"></i>
          <span class="sidebar-item-label">Firearms</span>
        </div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="sidebar-link-main">
          <i class="fas fa-broadcast-tower"></i>
          <span class="sidebar-item-label">Communications</span>
        </div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="sidebar-link-main">
          <i class="fas fa-microscope"></i>
          <span class="sidebar-item-label">Investigative Equipment</span>
        </div>
      </a>
    </li>

    <p class="mt-4">Mobility Monitoring</p>

    <li>
      <a href="{% url 'mobility:par_management' %}">
        <div class="sidebar-link-main">
          <i class="fas fa-clipboard-list"></i>
          <span class="sidebar-item-label">PAR Monitoring</span>
        </div>
      </a>
    </li>

    <li>
      <a href="{% url 'mobility:activity_log' %}">
        <div class="sidebar-link-main">
          <i class="fas fa-file-invoice"></i>
          <span class="sidebar-item-label">Activity Log</span>
        </div>
      </a>
    </li>

    <li>
      <a href="#">
        <div class="sidebar-link-main">
          <i class="fas fa-recycle"></i>
          <span class="sidebar-item-label">BER & Disposal</span>
        </div>
      </a>
    </li>

  </ul>

  <div class="UM">
    <a href="#" class="btn btn-link btn-block text-white-50 text-decoration-none text-left small">
      <i class="fas fa-user-shield mr-2"></i>
      User Management
    </a>
  </div>
</nav>