<nav id="sidebar">
  <ul class="list-unstyled components">
    
    <li>
      <p class="sidebar-section-title">Dashboard</p>
    </li>

    <li>
      <a href="{% url 'dashboard:dashboard_view'%}"><i class="fas fa-home"></i> <span class="sidebar-item-label">Home</span></a>
    </li>
    
    {% url 'mobility:vehicle_management' as vehicle_url %}
    <li class="{% if request.path == vehicle_url %}active{% endif %}">
      <a href="{{ vehicle_url }}">
        <span><i class="fas fa-car"></i> <span class="sidebar-item-label">Mobility</span></span>
        <span class="badge badge-light badge-pill" style="background-color: #4e73df;">{{ total_vehicles|default:'0' }}</span>
      </a>
    </li>

    <li>
      <a href="{% url 'firearms:index' %}">
        <span><i class="fas fa-crosshairs"></i> <span class="sidebar-item-label">Firearms</span></span>
        <span class="badge badge-primary badge-pill" style="background-color: #4e73df;">{{ total_firearms|default:'0' }}</span>
      </a>
    </li>

    <li>
      <a href="{% url 'communications:communications_list' %}">
        <span><i class="fas fa-broadcast-tower"></i> <span class="sidebar-item-label">Communications</span></span>
        <span class="badge badge-primary badge-pill" style="background-color: #4e73df;"> {{ total_comms|default:'0' }}</span>
      </a> 
    </li>

    <li>
      <a href="{% url 'InvestigativeEquipment:investigative_view'%}">
        <i class="fas fa-microscope"></i> <span class="sidebar-item-label">Investigative Equipment</span>
        <span class="badge badge-primary badge-pill" style="background-color: #4e73df;">{{ total_inves|default:'0' }}</span>
      </a> 
    </li>

    <li>
      <a href="{% url 'disposal:disposal_list' %}">
        <i class="fas fa-recycle"></i> <span class="sidebar-item-label">BER & Disposal</span>
        <span class="badge badge-primary badge-pill" style="background-color: #4e73df;">{{ total_disposal|default:'0' }}</span>
      </a>
    </li>

    <li>
      <p class="sidebar-section-title mt-4">Monitoring</p>
    </li>

    {% url 'mobility:par_management' as par_url %}
    <li class="{% if request.path == par_url %}active{% endif %}">
      <a href="{{ par_url }}">
        <i class="fas fa-clipboard-list"></i>
        <span class="sidebar-item-label">PAR Monitoring</span>
      </a>
    </li>

    {% url 'mobility:activity_log' as activity_url %}
    <li class="{% if request.path == activity_url %}active{% endif %}">
      <a href="{{ activity_url }}"><i class="fas fa-file-invoice"></i> <span class="sidebar-item-label">Reports</span></a>
    </li>

    <li>
      <a href="{% url 'user_management:user_list' %}"><i class="fas fa-user-shield mr-2"></i> <span class="sidebar-item-label"> User Management </span></a>
    </li>

    <li class="UM">
      <p class="sidebar-section-title">System Action</p>
      <ul class="list-unstyled">
        <li>
          <a href="{% url 'dashboard:logout' %}"><i class="fas fa-arrow-right mr-2"></i> <span class="sidebar-item-label"> Logout </span></a>
        </li>
      </ul>
    </li>

  </ul>
</nav>