{% load static %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'css/homeGlobals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>
  <body>
    <div class="desktop">
      <div class="hero">
        <img class="logo" src="{% static 'img/RFU10 Logo.png' %}" />
        <div class="content">
          <div class="description">
            <p class="welcome-to">
              Welcome to RFU10 <br />Logistics Management System
            </p>
            <p class="div">
              Let us serve the people of the Philippines for the better.
            </p>
            <a href="{% url 'login' %}" class="primary-button">
              <div class="text-wrapper">Login</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
