{% load static %}
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'css/sidebar.css' %}" />

<div class="nav-sidebar-fixed">
  <div class="sidebar-content d-flex flex-column">
    <div class="nav-section">
      <h6 class="nav-title">Dashboard</h6>

      <a href="#" class="nav-item active">
        <img src="{% static 'img/car.svg' %}" class="nav-icon" />
        <span class="nav-text">Mobility</span>
        <span class="badge">24</span>
      </a>

      <a href="#" class="nav-item">
        <img src="{% static 'img/gun.svg' %}" class="nav-icon" />
        <span class="nav-text">Firearms</span>
      </a>

      <a href="#" class="nav-item">
        <img src="{% static 'img/radio.svg' %}" class="nav-icon" />
        <span class="nav-text">Communications</span>
      </a>

      <a href="#" class="nav-item">
        <img src="{% static 'img/search.svg' %}" class="nav-icon" />
        <span class="nav-text">Investigative Equipment</span>
      </a>
    </div>

    <hr class="nav-divider" />

    <div class="nav-section">
      <h6 class="nav-title">Monitoring</h6>

      <a href="#" class="nav-item">
        <img src="{% static 'img/search-small.svg' %}" class="nav-icon" />
        <span class="nav-text">PAR Monitoring</span>
      </a>

      <a href="#" class="nav-item">
        <img src="{% static 'img/doc.svg' %}" class="nav-icon" />
        <span class="nav-text">Inspection Monitoring</span>
      </a>

      <a
        href="{% url 'disposal' %}"
        class="nav-item {% if request.resolver_match.url_name == 'disposal' %} active {% endif %}"
      >
        <img src="{% static 'img/trash.svg' %}" class="nav-icon" />
        <span class="nav-text">BER & Disposal</span>
      </a>

      <a href="#" class="nav-item">
        <img src="{% static 'img/folder.svg' %}" class="nav-icon" />
        <span class="nav-text">Reports</span>
      </a>
    </div>

    <div class="mt-auto user-mgmt-section">
      <a href="#" class="nav-item">
        <img src="{% static 'img/user-square.svg' %}" class="nav-icon" />
        <span class="nav-text">User Management</span>
      </a>
    </div>
  </div>
</div>