{% load static %}
<link
  href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
  rel="stylesheet"
/>
  <nav id="sidebar">
      <ul class="list-unstyled components">
          <p>Dashboard</p>
          <li>
              <a href="#"><i class="fas fa-home"></i> <span class="sidebar-item-label">Home</span></a>
          </li>

          <li class="{% if request.resolver_match.url_name == 'vehicle_management' %}active{% endif %}">
              <a href="#">
                  <span><i class="fas fa-car"></i> <span class="sidebar-item-label">Mobility</span></span>
                  <span class="badge badge-light badge-pill">24</span>
              </a>
          </li>

          <li>
              <a href="#">
                  <span><i class="fas fa-crosshairs"></i> <span class="sidebar-item-label">Firearms</span></span>
                  <span class="badge badge-primary badge-pill" style="background-color: #4e73df;">100+</span>
              </a>
          </li>
          <li>
              <a href="#">
                  <span><i class="fas fa-broadcast-tower"></i> <span class="sidebar-item-label">Communications</span></span>
              </a>
          </li>
          <li><a href="#"><i class="fas fa-microscope"></i> <span class="sidebar-item-label">Investigative Equipment</span></a></li>
          
          <p class="mt-4">Monitoring</p>
          <li><a href="#"><i class="fas fa-desktop"></i> <span class="sidebar-item-label">PAR Monitoring</span></a></li>
          <li><a href="#"><i class="fas fa-clipboard-check"></i> <span class="sidebar-item-label">Inspection Monitoring</span></a></li>
          <li><a href="#"><i class="fas fa-recycle"></i> <span class="sidebar-item-label">BER & Disposal</span></a></li>
          <li><a href="#"><i class="fas fa-file-invoice"></i> <span class="sidebar-item-label">Reports</span></a></li>
      </ul>

      <div class="p-3" style="position: absolute; bottom: 10px; width: 100%;">
          <a href="#" class="btn btn-link btn-block text-white-50 text-decoration-none text-left small">
              <i class="fas fa-user-shield mr-2"></i> User Management
          </a>
      </div>
  </nav>